<?xml version="1.0"?>
<!--
/** 
 * Magento Module developed by NoStress Commerce 
 * 
 * NOTICE OF LICENSE 
 * 
 * This source file is subject to the Open Software License (OSL 3.0) 
 * that is bundled with this package in the file LICENSE.txt. 
 * It is also available through the world-wide-web at this URL: 
 * http://opensource.org/licenses/osl-3.0.php 
 * If you did of the license and are unable to 
 * obtain it through the world-wide-web, please send an email 
 * to info@nostresscommerce.cz so we can send you a copy immediately. 
 * 
 * @copyright Copyright (c) 2012 NoStress Commerce (http://www.nostresscommerce.cz) 
 * 
 */
-->
<config>
	<modules>
		<Nostress_Widgetproduct>
			<version>0.1.0</version>
		</Nostress_Widgetproduct>
	</modules>
	<admin>
	      <routers>
			<nostress_widgetproduct>
				<use>admin</use>
				<args>
					<module>Nostress_Widgetproduct</module>
					<frontName>nostress_widgetproduct</frontName>
				</args>
			</nostress_widgetproduct>
	    </routers>
	</admin>
	<global>
		<models>
			<nostress_widgetproduct>
				<class>Nostress_Widgetproduct_Model</class>
				<resourceModel>nostress_widgetproduct_mysql4</resourceModel>
			</nostress_widgetproduct>
		</models>
		<blocks>
			<nostress_widgetproduct>
				<class>Nostress_Widgetproduct_Block</class>
			</nostress_widgetproduct>
		</blocks>
		<helpers>
			<nostress_widgetproduct>
				<class>Nostress_Widgetproduct_Helper</class>
			</nostress_widgetproduct>
		</helpers>
	</global>
</config>
